#tercerColumna {
    display: flex;
    justify-content: space-around;
}

.tipo_fecha {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
}

#columnaLogo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

li {
    text-decoration: none;
    list-style: none;
}

label {
    font-size: large;
}

#formulario {
    background-color: cadetblue;
}

.navbar {
    font-family: 'Young Serif', serif;
}

.accordion-body {
    text-align: left;
}